body {
background-color: rgb(167, 167, 167);
font-family: 'Oxygen', sans-serif;

}

h1 {
position: absolute;
width: 200px;
height: 192px;
left: 264px;
top: 100px;
}

.conteudo {
position: absolute;
width: 510px;
height: 438px;
 left: 550px;
 top: 110px;
}

h2, h3, h4, h5 {
font-size: 48px;
}

p{
font-size: 36px;
 }

.voltar{
position: absolute;
left: 340px;
top:360px;
transition: 500ms;
}

.voltar:hover{
transform: scale(1.1);
}

footer{ 
position: absolute;
height: 30px;
top: 680px;
left: 540px;
}

footer p {
font-size: 12px;
}
    
